/* contact.css */
.background-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
 
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent; /* Add transparency to the form container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
   
  }
  
  
  .form-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color:White;
    
  }
  
  .input-container {
    margin-bottom: 15px;
    background-color: transparent;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: white;

  }
  
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for better form appearance */
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    min-height: 100px;
  }
  

  
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1; /* Places the video behind other content */
  }
  .input-container label{
    color:white;
    font-size:25px;
  }
  